
div#maindiv {
    background: gray;
    width: 100%;
    min-height: 40em;
    text-align: center;
}

canvas#maincanvas {
    width: 700px;
    height:  500px;
    border: black solid 1px;
    position: relative;
    display: inline;
    background:  white;
}